{{!-- Menu page --}}
{{#if @blog.navigation}}
<nav id="menu-mobile" class="menu-mobile hide-after-lg">
	<ul class="menu-mobile-wrap u-unstyled">
		{{navigation}}
	</ul>
</nav>
{{/if}}

<footer class="footer">
	<!-- <div class="footer-topbar">
		<div class="footer-wrap">
			<div class="footer-links-social social_box">
				{{#if @blog.facebook}} <a title="Facebook {{@blog.facebook}}" href="{{facebook_url}}" target="_blank" class="i-facebook"></a>{{/if}}
				{{#if @blog.twitter}} <a title="Twitter {{@blog.twitter}}" href="{{twitter_url}}" target="_blank" class="i-twitter"></a>{{/if}}
			</div>
			<div id="footer-menu" class="footer-menu" style="display:none"></div>
		</div>
	</div> -->
    <div class="info-container">
        <div class="info-content">
        <img class="info-avatar" src="/assets/img/myface.jpg">
        <div class="info-link">
          <a class="info-icon extra" href="/friends"><i class="heartbeat icon"></i></a>
          <a class="info-icon extra" href="https://github.com/winecat" target="_blank"><i class="github alternate icon"></i></a>
          <a class="info-icon" href="/tag/code/"><i class="code icon"></i></a>
          <div style="width: 100px; height: 100px; float: left; margin: 0 20px;"></div>
          <a class="info-icon" href="/tag/fragment/"><i class="puzzle icon"></i></a>
          <a class="info-icon extra" href="//winecat.lofter.com/" target="_blank"><i class="trello icon"></i></a>
          <a class="info-icon extra" href="/about"><i class="power icon"></i></a>
        </div>
        </div>
    </div>

	<div class="footer-bottombar">
		<div class="footer-wrap">
			<div class="footer-copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> Powered by <a href="https://ghost.org" target="_blank">Ghost</a></div>
			<div class="footer-design-author"><span>Design with</span> <i class="icon heart"></i> by <a href="http://winecat.me" target="_blank" >@winecat</a></div>
		</div>
	</div>
</footer>
